name: Github Pages
on:
  workflow_run:
    workflows: ["Build and analyze"]
    types:
      - completed
jobs:
  deploy:
    if: >
      ${{ github.event.workflow_run.conclusion == 'success' &&
          github.event.workflow_run.head_branch == 'main' }}
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Deploy Github Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/docs