name: Github Pages
on:
  push:
    branches:
      - main
jobs:
  deploy:
    needs: Build_and_analyze
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Deploy Github Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/docs